<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>vue пример</title>
</head>
<body>
    <div id="app">
        <div class="form-group">
            <label for="shearch">поиск пациента</label>
            <input type="text" 
                   class="form-control"
                   id="shearch"
                   placeholder="ФИО"
                   v-model="shearch"
            >
        </div>
        <div>
            <h1>{{ title }} </h1>
            <li v-for="(pac,index) in filtredPacients" 
            @click="selectPacient(pac,index)"
            :class="{'active' : selectedPacIndex === index}">
            {{pac}}
            </li>
        </div>
        <div>
            <h2>Пациент</h2>
            <h3>{{pac}}</h3>
        </div>
    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script> prod -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>